<div class="container">
    <h2 class="text-left">Místo konání konference</h2>
    <div class="container">
        <p>Konference se koná v prostorách Univerzity Palackého.</p>
        <p>Adresa: tř. Svobody 26, Olomouc 771 80</p>
        <p>GPS: 49.5899219N, 17.2515636E</p>
        <p>Registrace účastníků po příjezdu na konferenci bude probíhat od 9. září od 14.00 hod. na katedře slavistiky a 10. září od 9:00 – 9.45 hod. v Kapli Božího Těla v Uměleckém centru Univerzity Palackého na adrese Univerzitní 3, Olomouc (foto, mapa).</p>
        <p>Zahájení konference je naplánováno na 10. září v 10:00 v Kapli Božího Těla v Uměleckém centru Univerzity Palackého na adrese Univerzitní 3, Olomouc.</p>
        <p>Jednání v jednotlivých sekcích se bude konat v prostorách katedry slavistiky FF UP.</p>
    </div>

</div>