<div class="container">
<table class="table">

    <tr>
        <td>
            <p><strong><span style="text-decoration: underline;">Sekretariát ČNPS</span></strong></p>
            <p>Mgr. Petra Horáková</p>
            <p>ředitelka stálého sekretariátu ČNPS a vedoucí organizačního týmu konference</p>
            <p>U Zvonařky 15, 120 00 Praha 2</p>
            <p>Tel.: +420 775 592 277</p>
            <p>Email: sekretariat@cnps.cz
            </p>
            <P></p>
            <p><strong><span style="text-decoration: underline;">Vědecký sekretář konference:</span></strong></p>
            <p>Mgr. Renáta Androvičová</p>
            <p>Psychiatrické centrum Praha</p>
            <p>Ústavní 91, 181 03 Praha 8 - Bohnice</p>
            <p>Tel.: +420 775 305 322</p>
            <p>Email: androvicova@cnps.cz
            </p>
        </td>
    </tr>
</table>
</div>