<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/css/signin.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body>

    <div class="container">

      <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Prosím, přihlašte se</h2>
        <label for="inputNick" class="sr-only">Přezdívka</label>

        <input name="nick" type="text" id="inputNick" class="form-control" placeholder="Přezdívka" required autofocus>

        <label for="inputPassword" class="sr-only">Heslo</label>

        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Heslo" required>
        {{ fail | raw }}
        <div class="checkbox">
          <label>

            <input type="checkbox" value="remember-me"> Zapamatuj si mě

          </label>
          <a href="?page=register" id="register">Registrace</a>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="submit" type="submit">Přihlásit</button>
      </form>

    </div> 
  </body>
</html>