<div id="header" class="container">


    <div>
        <h2>My Amazing Site</h2>


    </div>
    <hr>
    <div id='menu' class="container">
        Vážené dámy, vážení pánové,
        3. ročník konference Chytrá a zdravá městská veřejná doprava je za námi. I letos se v plzeňském Parkhotelu sešlo na 300 účastníků z 15 států, kteří měli možnost sledovat zajímavých 21 příspěvků, prohlédnout si vystavená vozidla, vyzkoušet trenažéry autobusu a trolejbusu zapůjčené z českobudějovického dopravního podniku a navázat nové kontakty s kolegy z oboru veřejné dopravy.

        Rádi bychom poděkovali všem účastníkům za to, že našli čas a chuť přijet, všem přednášejícím, že vážili cestu a podělili se o své zkušenosti, všem partnerům, bez kterých by se nám nepodařilo konferenci zrealizovat, a těm, kteří se na organizaci, přípravách i hladkém průběhu podíleli.
        Dík patří i všem institucím, které přijaly nad touto konferencí záštitu nebo jinak podpořily její realizaci.

        Na těchto stránkách najdete všechny prezentace, které na konferenci zazněly a během následujících dnů i fotografie a video z obou dnů.
        Děkujeme všem, kteří nám dali prostřednictvím dotazníku zpětnou vazbu. Velmi oceňujeme vaše náměty, názory i hodnocení a čerpáme   z nich při přípravách dalších ročníků. Dotazník je připraven i zde na webových stránkách pro ty z vás, kteří jej zatím nevyplnili.
        </p>
    </div>
</div>