<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="css/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/css/signin.css" rel="stylesheet">
</head>
<body>
<form class="form-horizontal" method="post">
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinputreg">Uživatelské jméno</label>
            <div class="col-md-4">
                <input id="textinputreg" name="textinputreg" type="text" placeholder="" class="form-control input-md">
                <span class="help-block">Maximální velikost: 30 znaků</span>
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinputreg">Heslo</label>
            <div class="col-md-4">
                <input id="passwordinputreg" name="passwordinputreg" type="password" placeholder="" class="form-control input-md">
                <span class="help-block">Minimální velikost: 7 znaků</span>
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinputreg">Potvrzení hesla</label>
            <div class="col-md-4">
                <input id="passwordinput2reg" name="passwordinput2reg" type="password" placeholder="" class="form-control input-md">

            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebuttonreg"></label>
            <div class="col-md-4">
                <button id="singlebuttonreg" name="singlebuttonreg" class="btn btn-primary">Zaregistruj mě!</button>
            </div>
        </div>
</form>

</body>
</html>