
    <div class="container">
        <h2 class="main-title">
            Témata konference
        </h2>
    <div>
        <div>
            <h3>1. Udržitelná městská doprava pro 21. století</h3>

            <ul>
                <li>Je trendem suburbanizace nebo návrat do měst?</li>
                <li>Souboj nebo spolupráce MHD a individuální dopravy?</li>
                <li>Jaké parametry veřejné dopravy obstojí v&nbsp;konkurenci s&nbsp;automobilem?</li>
                <li>Je MHD zdarma recept na úspěch?</li>
                <li>Zkušenosti s&nbsp;implementací Plánů mobility pro dotační období 2014 – 2020</li>
                <li>Sektorová dopravní strategie ČR a soulad s&nbsp;plány městských samospráv</li>
                <li>Role MHD v&nbsp;integrovaných dopravních systémech (včetně ekon. dopadů)</li>
                <li>Spolupráce MHD s&nbsp;ostatními dopravními systémy (P+R, B+R) z&nbsp;hlediska plánování</li>
                <li>Mýtné ve městech jako podpora MHD</li>
                <li>Vliv stárnutí populace měst ve vztahu k&nbsp;objemu přepravního výkonu<br />
                    &nbsp;</li>
            </ul>

            <h3>2. Technologie ve vozidlech a na tratích městské veřejné dopravy</h3>

            <ul>
                <li>Adaptivní řízení pohonu vozidel ke snižování spotřeby.</li>
                <li>Systémy vyhodnocující kvalitu práce řidiče – komfort jízdy, spotřeba.</li>
                <li>Energetická náročnost veřejné dopravy, úspory, surovinová bezpečnost</li>
                <li>Moderní trendy ve výstavbě tramvajových a trolejbusových tratí</li>
                <li>Kamerové systémy pro bezpečnost cestujících – legislativní a technické aspekty</li>
                <li>Systémy počítání cestujících</li>
                <li>Vozidlový informační systém budoucnosti – jaký informační servis má poskytovat cestujícím?</li>
                <li>Zkušenosti a očekávaný vývoj v&nbsp;oblasti elektromobility</li>
                <li>Klimatizace jako standard nebo marnivost? + teplotní komfort (i regulace topení v&nbsp;zimě)</li>
            </ul>

            <p>&nbsp;</p>

            <h3>3. Náš zákazník</h3>

            <ul>
                <li>Jak zvýšit počet cestujících v&nbsp;MHD? (Cesty ke zvýšení prestiže MHD)</li>
                <li>Mohou marketingové kampaně přilákat cestující do veřejné dopravy?</li>
                <li>Budování značky a dobré pověsti dopravního podniku/provozu MHD</li>
                <li>Mají městské samosprávy a dopravci koordinovat svůj image a marketing?</li>
                <li>MHD jako součást image města</li>
                <li>Natírání MHD nazeleno – jak prodat lidem ekologické přínosy MHD?</li>
                <li>Trendy v komunikačních kanálech dopravních podniků ↔&nbsp; cestující (web, mobily, veřejné informační systémy)</li>
                <li>Chytré mobily v&nbsp;kapsách – potenciál mobilních aplikací</li>
                <li>Zkušenosti se sociálními sítěmi – jaký mají přínos?</li>
                <li>Propagace veřejné dopravy</li>
                <li>MHD&nbsp;21. století očima cestujících – průzkumy</li>
                <li>Odbavovací a informační systémy</li>
                <li>Chytré technologie pro integraci informačních a odbavovacích systémů veřejné dopravy s parkovacími systémy, navigací IAD</li>
            </ul>
            </div>
    </div>
    </div>
