
<div class="container">
    <table class="table">
        <tr>
            <td>do 26.7. 2015</td>
            <td>–</td>
            <td>zaslání příspěvku.</td></tr>
        <tr>
            <td>do&nbsp;14.8. 2015</td>
            <td>–</td>
            <td>vyrozumění o přijetí či nepřijetí příspěvku.</td></tr>
        <tr>
            <td>do 31.8. 2015</td>
            <td>–</td>
            <td>zaslání konečné verze příspěvku po recenzi</td></tr>
        <tr>
            <td>do 14.9. 2015</td>
            <td>–</td>
            <td>ukončení přihlášek na konferenci, příp. dříve, při naplnění kapacity sálu.</td></tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15.9.2015</td>
            <td>–</td>
            <td>konání konference.</td></tr>
    </table>
</div>
